head
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  title Portraits by Rebecca Becker
body

template(name='layout1')
  +nav
  +Template.dynamic template=main

template(name='home')
  .user-content
    +content

template(name='nav')
  .nav-button
    i.fa.fa-bars
  .side-nav-wrapper
    ul.side-nav
      li
        a(href='#gallery') Gallery
      li
        a(href='#about') About
      li
        a(href='#pricing') Pricing
      li
        a(href='#testimonials') Testimonials
      li
        a(href='#contact') Contact


template(name='content')
  .text-center
    +header
  +gallery_launcher
  .row#about
    .col.col-sm-6.bio-img-wrapper
      .bio-img
    .col.col-sm-6
      +about_the_artist
  .row
    .col.col-md-12
      +portrait_process
  .row
    .col.col-md-12#pricing
      h1.text-center Pricing
      hr
  .row
    .col.col-sm-6
      +oil_prices
    .col.col-sm-6
      +pastel_prices
  .row#testimonials
    .col.col-md-12
      h1.text-center Testimonials
      hr
  .row
    .col-md-12
      +testimonials
  .row#contact
    .col.col-md-12
      h1.text-center Contact
      hr
  .row
    .col.col-md-12
      h2.text-center Rebecca Becker, Atlanta Portrait Artist
  .row
    .col.col-md-12
      h2.text-center Telephone:
        a(href='tel:404-367-1006') (404) 367-1006
  .row
    .col.col-md-12
      h2.text-center Email:
        a(href='mailto:info@portraitsbyrebeccabecker.com') info@portraitsbyrebeccabecker.com
  .row
    .col.col-md-12
      hr.dashed
  .row
    .col.col-md-12.text-center
      .small Copyright 2009-2011 © Portraits by Rebecca Becker. All Rights Reserved.
      br


template(name='oil_prices')
  h3.text-center Oil Prices
  each prices
    ul.price
      li
        span.product #{product}
        span.price #{price}

template(name='pastel_prices')
  h3.text-center Pastel Prices
  each prices
    ul.price
      li
        span.product #{product}
        span.price #{price}

template(name='header')
  .header
    .cursive Rebecca Becker


template(name='about_the_artist')
  .about-the-artist
  h1.text-center About the Artist
  hr
  .big-read
    {{ dict 'site.about_the_artist' 'No description' }}

template(name='portrait_process')
  .portrait-process
    h1.text-center Portrait Process
    hr
    .big-read
      {{ dict 'site.portrait_process' 'No descripion' }}

template(name='testimonials')
  .testimonials
    each testimonials_first
      .testimonial-wrapper
        .testimonial
          .quote #{quote}
          .author #{author}
  .expandable-wrapper
    .testimonials.expandable
      each testimonials_rest
        .testimonial-wrapper
          .testimonial
            .quote #{quote}
            .author #{author}
  h3#more-testimonials See more testimonials...
  h3#fewer-testimonials See fewer testimonials...

template(name='gallery_launcher')
  .gallery-launcher
    each categories
      a.category(href='/gallery/{{{galleryLink}}}')
        .image
          img(src="{{c.url cloudinaryId gravity='face:center' width=500 height=500 crop='fill'}}")
        .category-name-wrapper
          .category-name= category


template(name='gallery')
  .gallery#gallery
    .row
      .col-md-12
        ul.gallery-nav
          each categories_first
            li.selected
              span.category(data-category=this) #{this}
          each categories_rest
            li
              span.category(data-category=this) #{this}
    .portraits-wrapper
      .row
        .col-md-12.portraits#top
          each portraits_top
            .portrait
              a.fancybox(href=image.url rel="gallery")
                img(src=image.url)
      .row
        .col-md-12.portraits#bottom
          each portraits_bottom
            .portrait
              a.fancybox(href=image.url rel="gallery")
                img(src=image.url)

template(name='portraits')
  each portraits
    .portrait
      a.fancybox(href=image.url rel="gallery")
        img(src=image.url)

template(name='photoswipe')
  // Root element of PhotoSwipe. Must have class pswp.
  .pswp(tabindex='-1', role='dialog', aria-hidden='true')
    //
      Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba().
    .pswp__bg
    // Slides wrapper with overflow:hidden.
    .pswp__scroll-wrap
      //
        Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on.
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          // Controls are self-explanatory. Order can be changed.
          .pswp__counter
          button.pswp__button.pswp__button--close(title='Close (Esc)')
          button.pswp__button.pswp__button--share(title='Share')
          button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
          button.pswp__button.pswp__button--zoom(title='Zoom in/out')
          // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
          // element will get class pswp__preloader--active when preloader is running
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip
        button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
        button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
        .pswp__caption
          .pswp__caption__center
